/* Nav styles */
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.ajim{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* shared style */
.scndry-bg{
    background-color: rgb(255, 248, 243);
}
.text-primary{
    color: chocolate;
}
.dark-2{
    color: rgb(71, 71, 71);
}

/* Nav style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.btn{
    border-radius: 5px;
    background: rgb(253, 110, 10); 
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-cntnt{
    max-width: 580px;
}
.bnr-g{
    font-size: 45px;
    font-weight: 600;
}
.bnr-t{
    font-weight: bold;
    font-size: 85px;
}
.bnr-de{
    font-size: 18px;
}
.bnr-p{
    width: 580px;
}
/* main tag */
.text-cntr{
    text-align: center;
}
.sec-title{
    font-size: 35;
    font-weight: 700;
    color: rgb(24, 24, 24);
}
.sec-d{
    font-size: 18;
    color: rgb(117, 117, 117);
}
/* About styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */
}
main section{
    margin-top: 130px ;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.itm-dec{
    font-weight: 600px;
}
.about-itms{
    display: flex;
    justify-content: space-between;
}
/* skil section styles */
.skil-cntnr{
    display: flex;
    gap: 24px;
}
.skil{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
/* rsm secton style */
.rsm-co{
    display: flex;
    gap: 24px;
}
.exprnc-dec .exprnc-sbt{
    color: #757575;
}
.exprnc-sbt{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.rsm-dwn{
    margin-top: 50px;
}
.sec-t{
    text-align: center;
    margin-bottom: 50px;
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.fotr-clm{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 40px;
    border: none;
}
@media screen and (max-width:576px) {
    .parent,
    .skil-cntnr, 
    .rsm-co, 
    footer,
    nav,
    nav> ul,
    .banner, 
    .about-itms{
        flex-direction: column;
    }
    nav> ul{
        gap: 20px;
    }
    .btn{
        margin-bottom: 0;
        padding: 10px;
    }
    .banner{
        margin: 20px;
    }
    .bnr-p{
        width: 100%;
    }
    .banner-cntnt{
        width: 100%;
    }
    .header{
        background-image: none;
    }
    footer, .about{
        padding: 20px;
    }
    .fotr-clm{
        width: 100%;
    }
    footer input[type="text"], 
    footer input[type="email"], 
    footer textarea{
        width: calc(100% - 40px);
    }
}
@media screen and (min-width:576px) and (max-width:990px) {
    .banner{
        flex-direction: column;
    }
}